html {
  height: 100%;
  width: 100%;
}

body {
  /* Add a background color or image */
  background-color: #f5efe5;
  background-image: url('');

  /* Customize the font, size, and color for text*/
  font-family: sans-serif;
  font-size: 16px;
  color: black;
}

h1 {
  background-color: #66756c;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  color:  white;
  font-size: 20px;
  background-color:  #66756c;
  font-family: sans-serif; 
}

h3 {
  font-size: 15px;
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}

a:link {
  color:black
}
a:visited {
  color: blue;
}
a:hover {
  color: red;
}
a:active {
  color: green;
}

button {
  background-color:  #101915;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 15px 32px;
  cursor: pointer;
}

.highlight {
  font-weight: bold;
}

.header-container {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #66756c;
}
.header-item:nth-of-type(1) {
  width: 40%;
}
.header-item:nth-of-type(2) {
  width: 60%;
}
#header-img {
  max-width:fit-content;
}
.header-button {
  background-color: #0f1f0f;
  text-align: left;
  font-size: 15px;
  color:#dedede
  padding: 15px;
  margin: 15px;
  border: none;
  cursor: pointer;
}

/* Part 1: Navbar */
.navbar {
  background-color: #000000;
  overflow: hidden;
  position: fixed; /* Add this line */
  width: 100%; /* Add this line to ensure it spans the full width */
  top: 0; /* Add this line to position it at the top */
  z-index: 1000; /* Add this line to ensure it appears above other content */
}
/* General style rule set for all items in ul */
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
/* Style rule set for individual li */
.navbar ul li {
  display: inline-block;
  margin: 0 10px; /* Adjust margin as needed */
}
/* Style rule set for individual li link */
.navbar ul li a {
  display: block;
  padding: 10px 20px; /* Adjust padding as needed */
  text-decoration: none;
  color: white;
}
/* Style rule set for hovered link */
.navbar ul li a:hover {
  background-color: #0a0a0a;
  border-radius: 5px; /* Optional: Add rounded corners on hover */
}


/* Part 2: Flexbox */

/* General style rule set for flex container */
.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Style set for all flex-items */
.flex-item {
    background: white;
    color: black;
    font-weight: bold;
    text-align: center;
}

#theme-button {
  float: right;
  font-size: 15px;
  font-family: sans-serif;
}

/* Customize Dark Mode Theme */
.dark-mode{
  background-color: black;
  color: white;
}

/* Petition */
.petition-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100;
  padding-bottom: 50px;
}
.petition-para {
  width: 55%;
  padding-right: 10px;
}
.signatures{
  width: 45%;
  padding-right: 10px;
  
}

/* Add to CSS file */
.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background:pink;
}

/*Sign now button style */
#sign-now-button {
  background-color: #ccc; /* Change the background color to gray */
  color: black; /* Change the text color to black */
  font-size: 16px; /* Increase the font size */
  text-align: center;
  padding: 10px 20px; /* Adjust the padding */
}

/* CSS for reveal animation */
.revealable {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease; 
}

.revealable.active {
  transform: translateY(0px);
  opacity: 1; /* Set opacity to 1 when active */
}

/* the modal that covers the background and prevents user interactions */
.modal {
  display: none;
  position: fixed; /* keeps the modal in one place */
  z-index: 2; /* positions the modal on top of all other elements on the screen */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* 40% opacity black - other elements can still be seen */
   flex-direction: column; /* these flexbox rules center the content on the screen */
  justify-content: center;
  align-items: center;
}

/* box that contains all the content and images */
.modal-content {
  background-color: lightsteelblue; /* update the colors and font sizes as you like */
  color: black;
  text-align: center;
  font-size: 3rem;
  display: flex; /* adds flexbox to center all items */
  justify-content: center;
  align-items: center;
}

#thanks-modal-content {
  width: 20rem; /* sets a default width for the text container */
}

#modal-text-container {
  display: flex; /* adds flexbox to center the text and buttons (stretch feature) */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#modal-image {
  transition: transform 0.5s ease-in-out; /* Add a transition effect for the transform property */
}
